{% extends 'Blog/base.html' %}
{% block content %}
            <article class="media content-section">
                <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
              <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2" href="#">{{ object.author }}</a>
                  <small class="text-muted">{{ object.date_posted }}</small>
                    {% if object.author == user %}
                    <a href="{% url 'post_update' object.id %}" class="btn btn-outline-info btn-sm float-right">Edit</a>
                    <a href="{% url 'post_delete' object.id %}" class="btn btn-outline-danger btn-sm float-right mr-2">Delete</a>
                    {% endif %}
                </div>
                <h2 class="article-title">{{ object.title }}</h2>
                <p class="article-content">{{ object.content }}</p>
              </div>
            </article>
{% endblock %}